// http://all-free-download.com/free-icon/office-excel-logo.html
ID_PIC_OPEN_AS     ID_PIC_JPG  "IMAGENES\\BOTONES\\OPEN.jpg"
ID_PIC_SAVE_AS     ID_PIC_JPG  "IMAGENES\\BOTONES\\GC.jpg"
///////////////////
ID_PIC_EXPORT      BITMAP      "IMAGENES\\BOTONES\\CSV2.bmp"
///////////////////
ID_PIC_ZOOMIN      ID_PIC_JPG  "IMAGENES\\BOTONES\\ZoomIn.jpg"
ID_PIC_ZOOMOUT     ID_PIC_JPG  "IMAGENES\\BOTONES\\ZoomOut.jpg"
ID_PIC_AUTO        ID_PIC_JPG  "IMAGENES\\BOTONES\\AUTO.jpg"
ID_PIC_VISTA       ID_PIC_JPG  "IMAGENES\\BOTONES\\VISTA.jpg"
///////////////////
ID_PIC_COMPLEM     ID_PIC_JPG  "IMAGENES\\BOTONES\\COMPLEMENTOS.jpg"
ID_PIC_SAVE_BMP    ID_PIC_JPG  "IMAGENES\\BOTONES\\saveBMP.jpg"
ID_PIC_NEW         ID_PIC_JPG  "IMAGENES\\BOTONES\\NEW.jpg"
///////////////////
ID_PIC_REDRAW      ID_PIC_JPG  "IMAGENES\\BOTONES\\Redraw.jpg"
///////////////////
ID_PIC_FONDO     ID_PIC_JPG  "IMAGENES\\ROBOT.jpg"
ID_PIC_FONDO_P     ID_PIC_JPG  "IMAGENES\\TP1.jpg"
///////////////////
ID_BUTT_OFF      ID_PIC_JPG  "IMAGENES\\BOTONES\\REC.jpg"
ID_BUTT_ON       ID_PIC_JPG  "IMAGENES\\BOTONES\\STOPREC.jpg"
///////////////////
ID_BUTT_CLOSE       BITMAP  "IMAGENES\\BOTONES\\CLOSE.bmp"
ID_BUTT_RES_MAX     BITMAP  "IMAGENES\\BOTONES\\MinimizTam.bmp"
ID_BUTT_MIN         BITMAP  "IMAGENES\\BOTONES\\Minimizar.bmp"
///////////////////
// ID_BUTT_COLOR BITMAP "IMAGENES\\BOTONES\\COLORBTN.bmp"
/////////////////
ID_ABOUT_IMAGE   BITMAP "IMAGENES\\Ondas_Or_1.bmp"
///////////////
//ID_BUTT_SQ_WAVE_OFF   BITMAP "IMAGENES\\BSQWAVW_OFF.bmp"
//ID_BUTT_SQ_WAVE_ON    BITMAP "IMAGENES\\BSQWAVW_ON.bmp"
ID_BUTT_SQ_WAVE_ON   BITMAP "IMAGENES\\BSQWAVW_OFF.bmp"
ID_BUTT_SQ_WAVE_OFF    BITMAP "IMAGENES\\BSQWAVW_ON.bmp"
///////////////////
// ID_FILES_ALL    ID_FILES_FIRM       "X:\\SegAll\\CONOCIMIENTO\\UNIVERSIDAD\\CONTROL\\TAD\\CLAB\\MICRO\\877_NATAL\\CLAB.hex"
ID_FILES_ALL    ID_FILES_FIRM_887   "E:\\AIIF\\SegAll\\ENTERPRISE\\C++\\EJERCICIOS\\TAD\\CLAB\\MICRO\\887\\CLAB.hex"
ID_FILES_ALL    ID_FILES_SCHTAD_NEW_887 "IMAGENES\\TAD_ESQUEMATICO_887.pdf"



ID_FILES_ALL    ID_FILES_FIRM_690   "E:\\AIIF\\SegAll\\ENTERPRISE\\C++\\EJERCICIOS\\TAD\\CLAB\\MICRO\\690_NEW\\CLAB.hex"
ID_FILES_ALL    ID_FILES_SCH_690    "E:\\AIIF\\SegAll\\ENTERPRISE\\C++\\EJERCICIOS\\TAD\\CLAB\\MICRO\\690_NEW\\EAGLE\\690_sch.pdf"





///////////////
ID_FILES_ALL     ID_FILES_PLDRV      "IMAGENES\\PL2303_Prolific_DriverInstaller_v10518.exe"
// ID_FILES_ALL     ID_FILES_SCHTAD     "IMAGENES\\TAD_ESQUEMATICO.docx"
// ID_FILES_ALL     ID_FILES_SCHTAD_NEW "IMAGENES\\TAD_ESQUEMATICO.pdf"

////////
//  ID_PIC_CURSOR CURSOR  "IMAGENES\\CURSORES\\ZZZZZ3dgarro.cur"
ID_PIC_CURSORI ICON  "IMAGENES\\CURSORES\\CHAND.ico"
ID_PIC_CURSORDI ICON  "IMAGENES\\CURSORES\\CDRAG.ico"
////////
ID_PIC_COPY     ID_PIC_JPG  "IMAGENES\\COPY\\COPY2.jpg"
ID_PIC_UNDOCK   BITMAP  "IMAGENES\\BOTONES\\undock.bmp"




ID_FILES_ALL     ID_DLL_JAR           "IMAGENES/msvcr100.dll"
ID_FILES_ALL     ID_JAVAWRAPEX_MAIN   "E:\\AIIF\\SegAll\\ENTERPRISE\\JAVA\\EJERCICIOS\\WWW\\MLIB\\build\\classes\\Main.class"
ID_FILES_ALL     ID_JAVAWRAPEX_FCN    "E:\\AIIF\\SegAll\\ENTERPRISE\\JAVA\\EJERCICIOS\\WWW\\MLIB\\build\\classes\\fcn.class"
ID_FILES_ALL     ID_JAVAWRAPEX_UNZIP  "E:\\AIIF\\SegAll\\ENTERPRISE\\JAVA\\EJERCICIOS\\WWW\\MLIB\\build\\classes\\Unzip.class"
ID_FILES_ALL     ID_ZIP_CLASS_ZIP     "IMAGENES/classes.zip"





